<div>
    <div class="row">
        <div class="col-md-12 dbui-page-header">
          <div class="page-title">Sponsorship Matching Demo Program</div>
        </div>
    </div>
    
    <div class="dbui-panel">
        <div class="row">
            <div class="col-md-offset-1 col-md-8 ">
                <p>This is a demo version of a database system originally built for a nonprofit organization who works in connecting asylum-seekers in detention in need of sponsors and volunteers across the country willing to provide that sponsorship.  The system is used to track relevant details about clients and volunteers, to match them with one another, tracking vetting interviews, match status and important dates.</p>
                <p>The system integrates with two dynamic public-facing forms that can be hosted on any website, that submit into this database:
                <ul>
                    <li><a target="_blank" href="public/generated_forms/SponsorRequestForm.html">Asylum-seekers who need sponsorship</a> - meant to be filled out by an advocate on behalf of the person in detention.  Form questions update dynamically based on the individuals particular situation.</li>
                    <li><a target="_blank" href="public/generated_forms/VolunteerInterestForm.html">Volunteers willing to provide support</a> - the form is for not only those who are able to provide sponsorship, but also those who may also be able to help in other capacities.  Questions on the form are dynamically updated based on the volunteer interests indicated.</li>
                </ul></p>
            </div>
        </div>
    </div>
</div>