<div>
    <div class="col-md-12 dbui-page-header">
        <div class="dbui-page-header">
            <div class="page-title">Email Notification Setup</div>
            <!--<div class="action-row"><button class="btn btn-default"></button></div>-->
        </div>
      <h3></h3>
      <i ng-show="saving" class="fa fa-spinner fa-spin"></i>
    </div>
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1" ng-if="volunteerInterestRecipients">
            <div class="dbui-panel">
                <div class="dbui-panel-heading">
                    <h3>Volunteer Interest Form: Submission Notification </h3>
                    <p>When a Volunteer Interest form is submitted, these addresses will receive a notification email.<button class="btn btn-danger" ng-click="saveVir()" ng-disabled="!virStatus.isDirty">Save</button></p>
                </div>
                <dbui-object-editor ng-if="volunteerInterestRecipients" the-object="volunteerInterestRecipients" perspective="emailRecipientsPerspective" form-status="virStatus"></dbui-object-editor>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="dbui-panel">
                <div class="dbui-panel-heading">
                    <h3>Volunteer Interest Form: Weekly List Email</h3>
                    <p>Every week, an email is sent containing the list of submissions for the week, filtered by the specific area of interest specified on the form.  </p>
                </div>
            
                <div class="row">
                    <div class="col-md-6 list-group">
                        <a href ng-repeat="wm in weeklyReportRecipients" class="list-group-item" ng-class="{active:(editingList==wm)}" ng-click="editRecpientList(wm)">{{wm.title}}</a>
                    </div>
                    <div class="col-md-6" ng-if="editingList">
                        <h4>Edit list for {{editingList.title}} <button class="btn btn-danger" ng-click="saveMessage()">Save</button></h4>
                        <dbui-object-editor the-object="editingList.bo" perspective="emailRecipientsPerspective"></dbui-object-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="dbui-panel">
                <div class="dbui-panel-heading">
                    <h3>Volunteer Interest Form: Automatic Response Message</h3>
                    <p>An automatic response email is sent when a Volunteer Interst Form is submitted.</p>
                    <p><button class="btn btn-primary" ng-click="editWelcomeMessage()">Edit Message</button></p>
                </div>
            
                <div ng-if="editingWelcomeMessage">
                    <h4>Edit Automatic Response Message <button class="btn btn-danger" ng-click="saveWelcomeMessage()">Save</button></h4>
                    <dbui-object-editor the-object="editingWelcomeMessage" perspective="messageEditPerspective"></dbui-object-editor>
                </div>
            </div>
        </div>
    </div>
    

</div>