<div ng-controller="ctrl_pivot_BasicEdit">
<div ng-hide="editPerspective" class="text-center" style="padding:10%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
<div ng-if="editPerspective && centralObj">
    <div class="row text-center" style="padding:15px">
        <div class="col-sm-12">
        <button class="btn btn-warning btn-sm btn-block" ng-disabled="!centralObj.formStatus.isDirty" ng-click="save()"> <i class="fa fa-save"></i> Save Profile</button>
        </div>
    </div>
    <div class="row" ng-if="editPerspective">
        <div class="col-md-12">
            <dbui-object-editor the-object="centralObj" perspective="editPerspective" form-status="centralObj.formStatus"></dbui-object-editor>
        </div>
    </div>
    
    <hr>
    
    <div class="row text-center"  >
        <div class="col-sm-12">
        <button class="btn btn-warning btn-lg btn-block" ng-disabled="!myTab.formStatus.isDirty" ng-click="save()"> <i class="fa fa-save"></i> Save Profile</button>
        </div>
    </div>
</div>
</div>