<div ng-controller="ctrl_pivot_FormView">
<div ng-hide="viewPerspective" class="text-center" style="padding:10%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
<div ng-if="viewPerspective && formObj">
    
    <div class="row">
        <div class="col-md-12">
            <dbui-object-viewer the-object="formObj" perspective="viewPerspective"></dbui-object-viewer>
        </div>
    </div>
    
    
</div>
</div>