<div ng-controller="ctrl_pivot_SponsorCompaMatch">
<!--<div ng-hide="editPerspective" class="text-center" style="padding:10%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>-->
<div ng-if="centralObj">
    
    <div class="row text-center" style="padding:15px" ng-show="!matchList.length">
        <div class="col-sm-offset-1 col-sm-10">
            <p>No match history for {{centralObj._disp}}</p>
        </div>
    </div>
    
    <div class="row text-center" style="padding:15px" ng-show="latestMatch.is_current">
        <div class="col-sm-offset-1 col-sm-10">
            <p>Currently matched with {{latestMatchRef._disp}}</p>
            <!--<textarea class="form-control" ng-model="latestMatch.note"></textarea>-->
            <button class="btn btn-danger" ng-click="unmatch()">Unmatch</button>
        </div>
    </div>
    
    <div class="row text-center" style="padding:15px" ng-show="allowMatch">
        <div class="col-sm-offset-1 col-sm-10">
            <button class="btn btn-primary" ng-click="match()">Match with a {{partnerType}}</button>
        </div>
    </div>
    
    <div class="row" style="padding:15px" ng-show="matchList.length">
        <div class="col-sm-offset-1 col-sm-10">
            <h2>Match History</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>{{partnerType}}</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tr ng-repeat="m in matchList" ng-class="{success:m.is_current}">
                    <td>{{m.start_date | date}}</td>
                    <td>{{m.end_date | date}}</td>
                    <td><a href ng-click="selectPartner(m)">{{m[partnerField]._disp}}</a></td>
                    <td>
                        <span style="cursor:pointer" ng-hide="m.editingNote" ng-click="m.editingNote=true">{{m.note || '(click to add a note)' }}</span>
                        <span ng-show="m.editingNote"><textarea class="form-control" ng-model="m.note"></textarea><button class="btn btn-warning btn-block" ng-click="saveNote(m)"><i class="fa fa-save fa-2x"></i></button></span>
                    </td>                    
                </tr>
            </table>
        </div>
    </div>
    
</div>
</div>