<p>Below is the list of submissions between {{startDate}} and {{endDate}}</p>

<table border="1">
    <thead>
        <tr>
            <th>Submission Date</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Zip</th>
            <th>Languages</th>
            <th>Conected to SURJ?</th>
            <th>SURJ Chapter</th>
            <th>Volunteering Interests</th>
            <th>Family/Children</th>
            <th>Housing</th>
            <th>Best time to call</th>
        </tr>
    </thead>
    {{#each supList}}
    <tr>
        <td>{{submit_ts}}</td>
        <td>{{first_name}} {{last_name}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
        <td>{{zip}}</td>
        <td>{{languages}}</td>
        <td>{{surj_connect}}</td>
        <td>{{surj_chapter}}</td>
        <td><ul>{{#each volunteering_interests}}<li>{{this}}</li>{{/each}}</ul></td>
        <td>{{individual_family_open}}</td>
        <td>{{housing_duration}}</td>
        <td>{{time_to_call}}</td>
    </tr>
    {{/each}}
</table>